div.container{
    border:1px solid rgb(41, 40, 40);
    width:60%;
    margin: 0 auto;
    padding-left:10px;
    padding-bottom:5px;

}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding:8px 12px;
    text-align: center;
}
caption{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}